header {
    background-color: #d9ceb2;
    color: #948c75;
    text-align: center;
    padding: 1rem;
    margin-bottom: 1rem;
}

#verse1 {
    padding-right: 2rem;
}

.mybtn {
background-color: #948c75;
border: #948c75;
}

.mybtn:hover {
    background-color: #d9ceb2;
}

.mybtn:active {
    background-color: #d9ceb2;
}

.mybtn:visited {
    background-color: #d9ceb2;
}

h2 {
    text-align: center;
}

